
.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
    border: 1px solid red;
}
    
.div1 {
    grid-row: span 8 / span 8;
    border: 1px solid black;
}

.text-hello-user {
    grid-column: span 3 / span 3;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-hello-user h1 {
    color: aliceblue;
    font-family: cursive;
    word-spacing: -2px;
}

.container-add-filter-task{
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 2;
    border: 1px solid black;
}

.container-task{
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 3;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 7;
    border: 1px solid black;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 7;
    border: 1px solid black;
}

.div10 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 7;
    border: 1px solid black;
}
        