.custom-textarea {
  border: 1.5px solid gray;
  background-color: #e6e9f0; 
  padding: 13px 18px;
  border-radius: 10px;
  font-size: 16px;
  transition: box-shadow 0.2s ease;
}

.custom-textarea:focus {
  box-shadow: 0 0 0 2px #5d9c59; 
  border-color:  transparent;
  outline: #5d9c59;
}

.task-detail-input {
    width: 420px;
    font-size: 16px;
    margin-right: 21px;
}