.header-page {
    width: 100%;
    height: 95px;
}

.content-header {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #e5d4ba;
    box-shadow: 0px 5px 15px rgb(97, 95, 95);
}

.logo-header-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 21px;
}

.logo-header-page h1 {
    font-family: cursive;
    color: #e0b880;
}
.container-btn-header {
    margin-right: 21px;
}