.quick-note-widget {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.quick-note-top {
    display: flex;
    /* justify-content: center; */
    margin: 8px 0px 8px 8px;
    align-items: center;
    gap: 10px;
}

.quick-note-top i {
    font-size: 18px;
    color: gray;
}

.quick-note-top p {
    font-size: 18px;
    font-weight: bold;
    color: gray;
    margin-right: 165px;
}

.text-area-note {
    padding-left: 5px;
    font-size: 16px;
    height: 190px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
