.subcontainer-task {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.content-task-1 { 
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    display: flex;
}

.content-task-2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    display: flex;
}

.content-task-3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    display: flex;
}

.content-task-4{
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    display: flex;
}

/* Gộp chung styles để tránh lặp lại */
.content-task-1, .content-task-2,
.content-task-3, .content-task-4 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f4f2f0;
    padding: 10px 20px 0px 20px;
    margin: 0px 20px 20px 0px;
    transition: all 0.2s ease-in-out;
}

.content-task-1:hover, .content-task-2:hover,
.content-task-3:hover, .content-task-4:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.content-left {
    margin-right: 10px;
}

.content-left h2 {
    margin-bottom: 8px;
}
.content-left p {
    margin-left: 20px;
    margin-bottom: 8px;
  /* 1. Ẩn phần nội dung bị tràn ra ngoài */
  overflow: hidden;

  /* 2. Kích hoạt tính năng hiển thị dấu ... */
  text-overflow: ellipsis;

  /* 3. Bắt buộc dùng 3 thuộc tính này để giới hạn số dòng */
  display: -webkit-box;
  -webkit-box-orient: vertical;

  /* 4. SỐ DÒNG BẠN MUỐN HIỂN THỊ (ví dụ: 2 dòng) */
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content-right .btn-task{
    width: 45px;       
    height: 45px;     
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;     /* Dùng flex để căn icon vào giữa */
    justify-content: center;
    align-items: center;
}

.content-right .btn-task i {
    font-size: 27px; 
}

/* Nút "Hoàn thành" (Check Circle) */
.content-right .fa-pen-to-square {
    color: #2196F3; 
}

.content-right .fa-trash {
    color: #F44336; 
}

.content-right .btn-task:active {
    transform: scale(0.95); 
}

#compeled {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #4CAF50;
  border-radius: 50%; /* bo góc rõ ràng */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 18px;
}
