@media (max-width: 430px) {
    .containerDark {
        width: 100%;
        margin: 0;
        height: auto;
    }

    h1 {
        margin: 0;
    }

    #form {
        display: block;
        width: 100%;
        height: auto;
    }
    .formInterface {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        border-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .formSignUp {
        width: 98.7%;
        height: auto;
        border-radius: 25px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-bottom: 20px;
    }

    .checkbox {
        margin-left: 28px;
    }
}